@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.all {
  margin: 50px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#4c566a;  
  transform: translate(-50%, -50%);
  
  padding: 10px;
  border: 7px solid #5e81ac;
  border-radius: 15px;
  justify-content: flex-start;
  flex-direction: column;
}

.all label{
    color: #ffffff;
}

.all h1{
    color: #ffffff;
}

.all input[type=text]{
    border: 6px solid#2e3440;
    border-radius: 4px;
    padding: 4px;
}

body {
    background-color: #3b4252;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    margin: 0;
    padding: 0;
    background-image: radial-gradient(#2e3440 2px, transparent 2px); /* Dotted pattern */
    background-size: 10px 10px; /* Size of dots */
}
